{% load static %}
<!DOCTYPE html>
<html>
<head>
   
    <title>AVENGERS</title>
    <link rel="stylesheet" href="css main for india.css">
</head>
<body>

    <header>

        <h1>AVENGERS</h1>
        <div class = "link-section">
            <a href="https://www.marvel.com/characters/iron-man-tony-stark/in-comics">Ironman</a>
            <a href="https://www.marvel.com/characters/captain-america-steve-rogers">Captain America</a>
            <a href="https://www.marvel.com/characters/thor-thor-odinson/in-comics">Thor</a>
            <a href="https://www.marvel.com/characters/hulk-bruce-banner">Hulk</a>
            <a href="https://www.marvel.com/characters/thanos/on-screen">Thanos</a>


        </div>

    </header>

    <div id="content-section">
        <div id="item-section">

            
        <h1>Avengers assemble</h1>
             <p>The Avengers are a team of fictional superheroes and the protagonists of the Marvel
                 Cinematic Universe (MCU) media franchise, based on the Marvel Comics team of the same
                  name created by Stan Lee and Jack Kirby in 1963. Founded by S.H.I.E.L.D. Director Nick Fury,
                   the team is a United States-based organization composed primarily of superpowered and gifted individuals,
                    described as "Earth's Mightiest Heroes", who are committed to the world's protection from a variety of threats.
                    \ The Avengers are depicted as operating in the state of New York: originally from the Avengers Tower 
                    in Midtown Manhattan and subsequently in the Avengers Compound in Upstate New York. Arranged as an ensemble 
                    of core MCU characters originally consisting of Tony Stark / Iron Man, Steve Rogers / Captain America, Thor, 
                    Bruce Banner / Hulk, Natasha Romanoff / Black Widow, and Clint Barton / Hawkeye, and later expanding to include
                     16 members..</p>
            <button>See More</button>
                
        </div>
        <div id="content-section2"> <h1>Avengers assemble</h1>
            <p>The Avengers are a team of fictional superheroes and the protagonists of the Marvel
                Cinematic Universe (MCU) media franchise, based on the Marvel Comics team of the same
                 name created by Stan Lee and Jack Kirby in 1963. Founded by S.H.I.E.L.D. Director Nick Fury,
                  the team is a United States-based organization composed primarily of superpowered and gifted individuals,
                   described as "Earth's Mightiest Heroes", who are committed to the world's protection from a variety of threats.
                   \ The Avengers are depicted as operating in the state of New York: originally from the Avengers Tower 
                   in Midtown Manhattan and subsequently in the Avengers Compound in Upstate New York. Arranged as an ensemble 
                   of core MCU characters originally consisting of Tony Stark / Iron Man, Steve Rogers / Captain America, Thor, 
                   Bruce Banner / Hulk, Natasha Romanoff / Black Widow, and Clint Barton / Hawkeye, and later expanding to include
                    16 members..The Avengers are a team of fictional superheroes and the protagonists of the Marvel
                    Cinematic Universe (MCU) media franchise, based on the Marvel Comics team of the same
                     name created by Stan Lee and Jack Kirby in 1963. Founded by S.H.I.E.L.D. Director Nick Fury,
                      the team is a United States-based organization composed primarily of superpowered and gifted individuals,
                       described as "Earth's Mightiest Heroes", who are committed to the world's protection from a variety of threats.
                       \ The Avengers are depicted as operating in the state of New York: originally from the Avengers Tower 
                       in Midtown Manhattan and subsequently in the Avengers Compound in Upstate New York. Arranged as an ensemble 
                       of core MCU characters originally consisting of Tony Stark / Iron Man, Steve Rogers / Captain America, Thor, 
                       Bruce Banner / Hulk, Natasha Romanoff / Black Widow, and Clint Barton / Hawkeye, and later expanding to include
                        16 members.The Avengers are a team of fictional superheroes and the protagonists of the Marvel
                        Cinematic Universe (MCU) media franchise, based on the Marvel Comics team of the same
                         name created by Stan Lee and Jack Kirby in 1963. Founded by S.H.I.E.L.D. Director Nick Fury,
                          the team is a United States-based organization composed primarily of superpowered and gifted individuals,
                           described as "Earth's Mightiest Heroes", who are committed to the world's protection from a variety of threats.
                           \ The Avengers are depicted as operating in the state of New York: originally from the Avengers Tower 
                           in Midtown Manhattan and subsequently in the Avengers Compound in Upstate New York. Arranged as an ensemble 
                           of core MCU characters originally consisting of Tony Stark / Iron Man, Steve Rogers / Captain America, Thor, 
                           Bruce Banner / Hulk, Natasha Romanoff / Black Widow, and Clint Barton / Hawkeye, and later expanding to include
                            16 members.The Avengers are a team of fictional superheroes and the protagonists of the Marvel
                            Cinematic Universe (MCU) media franchise, based on the Marvel Comics team of the same
                             name created by Stan Lee and Jack Kirby in 1963. Founded by S.H.I.E.L.D. Director Nick Fury,
                              the team is a United States-based organization composed primarily of superpowered and gifted individuals,
                               described as "Earth's Mightiest Heroes", who are committed to the world's protection from a variety of threats.
                               \ The Avengers are depicted as operating in the state of New York: originally from the Avengers Tower 
                               in Midtown Manhattan and subsequently in the Avengers Compound in Upstate New York. Arranged as an ensemble 
                               of core MCU characters originally consisting of Tony Stark / Iron Man, Steve Rogers / Captain America, Thor, 
                               Bruce Banner / Hulk, Natasha Romanoff / Black Widow, and Clint Barton / Hawkeye, and later expanding to include
                                16 members.</p>
           <button>See More</button></div>


    </div>
    
</body>
</html>





